.Herotext {
    margin:auto;
    width: 30%;
    padding-top: 10%;
}

.Herotext_h1 {
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;

}

.Herotext_buttongroup {
    position:absolute;
    padding-top: 10%;
    padding-left: 8%;
}