*{
    font-family: 'Roboto';
    list-style: none;
}

.map-section {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;

}

.map-section-wrappedmap {
    width: 70vw;
    height: 50vh;

}

.map-section-courseinfo {
    padding-left: 2%;
    width: 20%;

}

